
WebAppScratch/WebAppScratch/RedAcademySite.csproj.user
WebAppScratch/WebAppScratch/obj/RedAcademySite.csproj.nuget.g.props
WebAppScratch/WebAppScratch/obj/RedAcademySite.csproj.nuget.dgspec.json
WebAppScratch/WebAppScratch/obj/project.nuget.cache
WebAppScratch/WebAppScratch/obj/project.assets.json
WebAppScratch/WebAppScratch/obj/Debug/net6.0/RedAcademySite.GeneratedMSBuildEditorConfig.editorconfig
WebAppScratch/WebAppScratch/obj/Debug/net6.0/RedAcademySite.assets.cache
WebAppScratch/WebAppScratch/obj/Debug/net6.0/RedAcademySite.AssemblyInfo.cs
WebAppScratch/.vs/RedAcademySite/FileContentIndex/read.lock
WebAppScratch/.vs/RedAcademySite/FileContentIndex/7f013aec-21e6-4336-9619-9922ddaff2c2.vsidx
WebAppScratch/.vs/RedAcademySite/FileContentIndex/76db6e07-3151-4960-9e45-1263b4e79b41.vsidx
WebAppScratch/.vs/RedAcademySite/FileContentIndex/4318ee73-7fd8-4448-8a8f-733d5294aa06.vsidx
WebAppScratch/WebAppScratch/obj/RedAcademySite.csproj.nuget.g.props
WebAppScratch/WebAppScratch/obj/RedAcademySite.csproj.nuget.dgspec.json
WebAppScratch/WebAppScratch/obj/project.nuget.cache
WebAppScratch/WebAppScratch/obj/project.assets.json
WebAppScratch/WebAppScratch/obj/Debug/net6.0/RedAcademySite.GeneratedMSBuildEditorConfig.editorconfig
WebAppScratch/WebAppScratch/obj/Debug/net6.0/RedAcademySite.assets.cache
WebAppScratch/WebAppScratch/obj/Debug/net6.0/RedAcademySite.AssemblyInfo.cs
WebAppScratch/WebAppScratch/obj/RedAcademySite.csproj.nuget.g.props
WebAppScratch/WebAppScratch/obj/RedAcademySite.csproj.nuget.dgspec.json
WebAppScratch/WebAppScratch/obj/project.nuget.cache
WebAppScratch/WebAppScratch/obj/project.assets.json
WebAppScratch/WebAppScratch/obj/Debug/net6.0/RedAcademySite.GeneratedMSBuildEditorConfig.editorconfig
WebAppScratch/WebAppScratch/obj/Debug/net6.0/RedAcademySite.assets.cache
WebAppScratch/WebAppScratch/obj/Debug/net6.0/RedAcademySite.AssemblyInfo.cs
WebAppScratch/.vs/RedAcademySite/v17/.suo
WebAppScratch/.vs/RedAcademySite/FileContentIndex/d2b17852-bbae-499e-b54d-e05be2d0afef.vsidx
WebAppScratch/.vs/RedAcademySite/FileContentIndex/9fa118e2-c115-4de0-9e00-21de00008455.vsidx
